

.layout {
	@include container;
	padding: 3%;

	.primary  {
		margin-top: .2em;
		@include breakpoint($medium){
     		@include span(8 of 12);
		
		#nextmeeting {
			@include border-radius(20px) ;
			color: $paleyellow;
			padding: 0 20px 20px 20px;
			margin-bottom: 10px;
			margin-top: 10px;
			background: $cyan;
			
			h1 {
				color: darken($cyan, 15);
				border: none;
				text-shadow: none;
				margin-bottom: 20px;
			}
			a {
				color: $darkblue;
				}
			}
		}
	}
	
	.secondary {
		@include breakpoint($medium){
			@include span(last 4 of 12);
			font-size: 1.1rem;
			h1 {
				font-size: 1.8rem;
				color: $orange;
			}
			} //breakpoint
	} //.secondary
}