<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href=""><img src="assets/img/misc/rouxacademymeetups.svg" alt=""></a>
			</div>
		</section>
	</div>
	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="#"><i class="fa fa-question"></i>About us</a></li>
				<li><a href="#"><i class="fa fa-user"></i>Speakers</a></li>
				<li><a href="#"><i class="fa fa-heart"></i>Sponsors</a></li>
				<li><a href="#"><i class="fa fa-keyboard-o"></i>Contact us</a></li>
			</ul>
		</section>
	</div>
</header>
